{% extends 'base.html' %} {#base.html 파일을 확장해서 그 아래에다가 signup.html 파일을 추가해주겠다.#}

{% block title %}
    회원가입
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 회원가입 </h2>
            <form class="form-area" method="post" action="/sign-up/">
                {# form : 화면에 있는 데이터를 서버로 전송할 때 많이 사용하는 태그 / method : 읽어오고 싶으면 GET, 어떤 정보를 넣어주고 싶을 땐 POST인데 지금 만드는 건 회원가입이니까 사용자 정보를 서버로 전달해야 하니 POST / action : 이게 어떤 url로 전달될건지. 앞뒤로 slash 꼭 넣어주기!#}
                {% csrf_token %} {# 장고에서 데이터를 POST 방식으로 보낼 때, 보안을 지켜주기 위한 기능. #}
                <div class="form-group mt-2 mb-2">
                    <label for="username">이름</label>
                    <input type="text" class="form-control" id="username" name="username">
                    {# 이 input의 name 벙보를 서버로 전송하는 것. #}
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="password2">비밀번호 확인</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="bio">나를 한마디로</label>
                    <input type="text" class="form-control" id="bio" name="bio">
                </div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <hr>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary">회원가입</button>
                    {# form 안에 button이 있으면, 해당 form을 실행시켜주는 역할을 함. 즉, form을 sign-up이라는 url로, post 방식으로 데이터를 보낼 수 있게 해주는 버튼임 여기선. #}
                    <a href="/sign-in" class="btn btn-secondary">로그인 페이지로</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}